In [2]:
import requests
from bs4 import BeautifulSoup
import string
import pandas as pd

In [46]:
for i in list(string.ascii_lowercase):

    print(f'Scraping the {i}\'s')
    
    r = requests.get(f'https://www.baseball-reference.com/players/{i}/')
    soup = BeautifulSoup(r.text)
    players_by_lastname = soup.find( 'div', { 'class': "section_content" } )
    
    player_list = []
    
    for i in players_by_lastname.find_all('a'):
        player = {}
        player['name'] = i.text
        player['slug'] = i['href'].split('/')[-1]
        
        player_list.append(player)
        
    player_stats = pd.DataFrame([])
    
    for player in player_list:
        
        print(f'Scraping {player_list["name"]}')
        
        player_res = requests.get(f'https://www.baseball-reference.com/players/{i}/{player_list["slug"]}')
        player_soup = BeautifulSoup(player_res.text)
        
        table = player_soup.find('table', {'id': 'batting_standard'})
        stats = pd.read_html(str(table))[0]
        stats['Year'] = pd.to_numeric(stats['Year'], errors = 'coerce')
        important_stats = stats.dropna(subset = ['Year'])
        
        player_stats = player_stats.append(important_stats)

Scraping the a's

TypeError: list indices must be integers or slices, not str

In [ ]:
for i in list(string.ascii_lowercase):

    print(f'Scraping the {i}\'s')
    
    r = requests.get(f'https://www.baseball-reference.com/players/{i}/')
    soup = BeautifulSoup(r.text)
    players_by_lastname = soup.find( 'div', { 'class': "section_content" } )
    
    player_list = []
    
#     players_by_lastname.
    
#     for x in players_by_lastname.find_all('a'):
#         player = {}
#         player['name'] = x.text
#         player['slug'] = x['href'].split('/')[-1]
        
#         player_list.append(player)
        
#     player_stats = pd.DataFrame([])

In [28]:
player_res = requests.get('https://www.baseball-reference.com/players/b/babbch01.shtml')
player_soup = BeautifulSoup(player_res.text)
table = player_soup.find('table', {'id': 'batting_standard'})
data = pd.read_html(str(table))[0]

In [32]:
data
data['Year'] = pd.to_numeric(data['Year'], errors = 'coerce')
data2 = data.dropna(subset = ['Year'])

In [33]:
data2

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
0,1903.0,30,NYG,NL,121.0,502.0,424.0,68.0,105.0,15.0,...,0.671,88.0,136.0,NaN,22.0,11.0,NaN,NaN,*6/5,NaN
1,1904.0,31,BRO,NL,151.0,595.0,521.0,49.0,138.0,18.0,...,0.656,105.0,162.0,NaN,11.0,10.0,NaN,NaN,*6,NaN
2,1905.0,32,BRO,NL,75.0,279.0,235.0,27.0,44.0,8.0,...,0.541,67.0,56.0,NaN,12.0,5.0,NaN,NaN,63/54,NaN

In [42]:
# player_stats = pd.DataFrame([])
player_stats = player_stats.append(data2)
player_stats

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
0,1903.0,30,NYG,NL,121.0,502.0,424.0,68.0,105.0,15.0,...,0.671,88.0,136.0,NaN,22.0,11.0,NaN,NaN,*6/5,NaN
1,1904.0,31,BRO,NL,151.0,595.0,521.0,49.0,138.0,18.0,...,0.656,105.0,162.0,NaN,11.0,10.0,NaN,NaN,*6,NaN
2,1905.0,32,BRO,NL,75.0,279.0,235.0,27.0,44.0,8.0,...,0.541,67.0,56.0,NaN,12.0,5.0,NaN,NaN,63/54,NaN
0,1903.0,30,NYG,NL,121.0,502.0,424.0,68.0,105.0,15.0,...,0.671,88.0,136.0,NaN,22.0,11.0,NaN,NaN,*6/5,NaN
1,1904.0,31,BRO,NL,151.0,595.0,521.0,49.0,138.0,18.0,...,0.656,105.0,162.0,NaN,11.0,10.0,NaN,NaN,*6,NaN
2,1905.0,32,BRO,NL,75.0,279.0,235.0,27.0,44.0,8.0,...,0.541,67.0,56.0,NaN,12.0,5.0,NaN,NaN,63/54,NaN
0,1903.0,30,NYG,NL,121.0,502.0,424.0,68.0,105.0,15.0,...,0.671,88.0,136.0,NaN,22.0,11.0,NaN,NaN,*6/5,NaN
1,1904.0,31,BRO,NL,151.0,595.0,521.0,49.0,138.0,18.0,...,0.656,105.0,162.0,NaN,11.0,10.0,NaN,NaN,*6,NaN
2,1905.0,32,BRO,NL,75.0,279.0,235.0,27.0,44.0,8.0,...,0.541,67.0,56.0,NaN,12.0,5.0,NaN,NaN,63/54,NaN
0,1903.0,30,NYG,NL,121.0,502.0,424.0,68.0,105.0,15.0,...,0.671,88.0,136.0,NaN,22.0,11.0,NaN,NaN,*6/5,NaN
1,1904.0,31,BRO,NL,151.0,595.0,521.0,49.0,138.0,18.0,...,0.656,105.0,162.0,NaN,11.0,10.0,NaN,NaN,*6,NaN
2,1905.0,32,BRO,NL,75.0,279.0,235.0,27.0,44.0,8.0,...,0.541,67.0,56.0,NaN,12.0,5.0,NaN,NaN,63/54,NaN

In [9]:
table

<tbody>
<tr class="full" id="batting_standard.1903"><th class="left" csk="1903" data-stat="year_ID" scope="row">1903</th><td class="right" data-stat="age">30</td><td class="left" data-stat="team_ID"><a href="/teams/NYG/1903.shtml" title="New York Giants">NYG</a></td><td class="left" data-stat="lg_ID"><a href="/leagues/NL/1903.shtml">NL</a></td><td class="right" data-stat="G">121</td><td class="right" data-stat="PA">502</td><td class="right" data-stat="AB">424</td><td class="right" data-stat="R">68</td><td class="right" data-stat="H">105</td><td class="right" data-stat="2B">15</td><td class="right" data-stat="3B">8</td><td class="right iz" data-stat="HR">0</td><td class="right" data-stat="RBI">46</td><td class="right" data-stat="SB">22</td><td class="right iz" data-stat="CS"></td><td class="right" data-stat="BB">45</td><td class="right" data-stat="SO"><strong>64</strong></td><td class="right" data-stat="batting_avg">.248</td><td class="right" data-stat="onbase_perc">.350</td><td class="right" data-stat="slugging_perc">.321</td><td class="right" data-stat="onbase_plus_slugging">.671</td><td class="right" data-stat="onbase_plus_slugging_plus">88</td><td class="right" data-stat="TB">136</td><td class="right iz" data-stat="GIDP"></td><td class="right" data-stat="HBP"><strong><em>22</em></strong></td><td class="right" data-stat="SH">11</td><td class="right iz" data-stat="SF"></td><td class="right iz" data-stat="IBB"></td><td class="left" data-stat="pos_season">*6/5</td><td class="left iz" data-stat="award_summary"></td></tr>
<tr class="full" id="batting_standard.1904"><th class="left" csk="1904" data-stat="year_ID" scope="row">1904</th><td class="right" data-stat="age">31</td><td class="left" data-stat="team_ID"><a href="/teams/BRO/1904.shtml" title="Brooklyn Superbas">BRO</a></td><td class="left" data-stat="lg_ID"><a href="/leagues/NL/1904.shtml">NL</a></td><td class="right" data-stat="G">151</td><td class="right" data-stat="PA">595</td><td class="right" data-stat="AB">521</td><td class="right" data-stat="R">49</td><td class="right" data-stat="H">138</td><td class="right" data-stat="2B">18</td><td class="right" data-stat="3B">3</td><td class="right iz" data-stat="HR">0</td><td class="right" data-stat="RBI">53</td><td class="right" data-stat="SB">34</td><td class="right iz" data-stat="CS"></td><td class="right" data-stat="BB">53</td><td class="right" data-stat="SO">72</td><td class="right" data-stat="batting_avg">.265</td><td class="right" data-stat="onbase_perc">.345</td><td class="right" data-stat="slugging_perc">.311</td><td class="right" data-stat="onbase_plus_slugging">.656</td><td class="right" data-stat="onbase_plus_slugging_plus">105</td><td class="right" data-stat="TB">162</td><td class="right iz" data-stat="GIDP"></td><td class="right" data-stat="HBP">11</td><td class="right" data-stat="SH">10</td><td class="right iz" data-stat="SF"></td><td class="right iz" data-stat="IBB"></td><td class="left" data-stat="pos_season">*6</td><td class="left iz" data-stat="award_summary"></td></tr>
<tr class="full" id="batting_standard.1905"><th class="left" csk="1905" data-stat="year_ID" scope="row">1905</th><td class="right" data-stat="age">32</td><td class="left" data-stat="team_ID"><a href="/teams/BRO/1905.shtml" title="Brooklyn Superbas">BRO</a></td><td class="left" data-stat="lg_ID"><a href="/leagues/NL/1905.shtml">NL</a></td><td class="right" data-stat="G">75</td><td class="right" data-stat="PA">279</td><td class="right" data-stat="AB">235</td><td class="right" data-stat="R">27</td><td class="right" data-stat="H">44</td><td class="right" data-stat="2B">8</td><td class="right" data-stat="3B">2</td><td class="right iz" data-stat="HR">0</td><td class="right" data-stat="RBI">17</td><td class="right" data-stat="SB">10</td><td class="right iz" data-stat="CS"></td><td class="right" data-stat="BB">27</td><td class="right" data-stat="SO">38</td><td class="right" data-stat="batting_avg">.187</td><td class="right" data-stat="onbase_perc">.303</td><td class="right" data-stat="slugging_perc">.238</td><td class="right" data-stat="onbase_plus_slugging">.541</td><td class="right" data-stat="onbase_plus_slugging_plus">67</td><td class="right" data-stat="TB">56</td><td class="right iz" data-stat="GIDP"></td><td class="right" data-stat="HBP">12</td><td class="right" data-stat="SH">5</td><td class="right iz" data-stat="SF"></td><td class="right iz" data-stat="IBB"></td><td class="left" data-stat="pos_season">63/54</td><td class="left iz" data-stat="award_summary"></td></tr>
</tbody>

In [ ]:
players_alphabet = soup.find('div', {'class'="section_content"})

player_list = []


for player_name in player_alphabet.find_all('a')

In [ ]:
player_list